*
{
    box-sizing: border-box;
    overflow: hidden;
}
body
{
    background-color: aqua;
}
.container
{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.clk .input
{
    border-radius: 5px;
    background-color: aqua;
    padding: 20px;
    font-size: 30px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 100px;
    box-shadow: -2px 2px 7px rgb(71, 69, 69),rgb(204, 219, 232) -3px 3px 6px 0px inset, rgba(136, 133, 133, 0.5) 3px -3px 6px 1px inset;
}

.clk .input span
{
    animation: toright linear infinite 5s;
    padding: 5px;
    border-radius: 10px;
    background-color: aqua;
    box-shadow: -2px 2px 7px rgb(71, 69, 69),rgb(204, 219, 232) -3px 3px 6px 0px inset, rgba(136, 133, 133, 0.5) 3px -3px 6px 1px inset;
    font-size: 30px;
    margin: 10px;
}
@keyframes toright {
    0%
    {
        color: red ;
        filter: hue-rotate(0deg);
        transform: translateX(-100%)skew(5deg,5deg);
    }
    10%
    {
        color: rgb(251, 255, 0);
        transform: translateX(80%)skew(-5deg,-5deg);
    }
    20%
    {
        color: rgb(60, 255, 0);
        transform: translateX(-100%)skew(5deg,5deg);
    }
    30%
    {
        color: rgb(0, 255, 170);
        transform: translateX(80%)skew(-5deg,-5deg);
    }
    40%
    {
        color: rgb(0, 225, 255);
        transform: translateX(-100%)skew(5deg,5deg);
    }
    50%
    {
        color: rgb(132, 0, 255);
        transform: translateX(80%)skew(-5deg,-5deg);
    }
    60%
    {
        color: rgb(55, 0, 255);
        transform: translateX(-100%)skew(5deg,5deg);
    }
    70%
    {
        transform: translateX(80%)skew(-5deg,-5deg);
    }
    80%
    {
        transform: translateX(-100%)skew(5deg,5deg);
    }
    90%
    {
        transform: translateX(80%)skew(-5deg,-5deg);
    }
    100%
    {
        color: rgb(255, 0, 128);
        filter: hue-rotate(-360deg);
        transform: translateX(-100%)skew(5deg,5deg);
    }
}